[submodule "qemu"]
	path = qemu
	url = https://github.com/Azq2/qemu-pmb887x
[submodule "bsp"]
	path = bsp
	url = https://github.com/Azq2/pmb887x-dev
[submodule "third_party/argparse"]
	path = third_party/argparse
	url = https://github.com/p-ranav/argparse
[submodule "third_party/tomlplusplus"]
	path = third_party/tomlplusplus
	url = https://github.com/marzer/tomlplusplus
[submodule "third_party/catch2"]
	path = third_party/catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/spdlog"]
	path = third_party/spdlog
	url = https://github.com/gabime/spdlog
