name: Test build (OSX)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Installing qemu dependencies
        run: |
          brew install libtool meson ninja pkgconf python@3.14 capstone jpeg-turbo libpng lzo pixman zstd

      - name: Building emulator
        run: |
          tools/build.sh
