name: Test build (Windows)

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install build-essential build-dep
          sudo apt-get build-dep qemu

      - name: Building emulator
        run: |
          tools/build_win.sh
